body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px; 
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; 
    max-width: 300px; 
    margin: 0 15px; 
    box-sizing: border-box; 
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px); /* Asegura que los inputs ocupen todo el ancho del contenedor */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Ajusta el botón al 100% del contenedor */
    font-size: 16px;
    margin-top: 10px; 
}

.button:hover {
    background-color: #45a049;
}

a {
    color: #4CAF50;
    text-decoration: none;
    display: block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

/* Media Queries para hacer el diseño más responsive */
@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 15px; 
    }

    .button {
        font-size: 14px; 
    }

    input[type="text"], input[type="password"] {
        width: calc(100% - 20px); 
        padding: 8px;
    }
}



